<section id="hero">
  <div class="image-hero">
    <div class="container">
      <h1 class="hero-title text-uppercase">
        Récuperez le flow de <br />
        Batman avec notre e-shop !
      </h1>
    </div>
  </div>
</section>
<!-- Appel de du composant cart -->
<app-cart></app-cart>

<section>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-3">
        <app-aside></app-aside>
      </div>
      <div class="col-md-9">
        <app-product></app-product>
      </div>
    </div>
  </div>
</section>
