<footer class="mt-5 py-5">
  <div class="container text-center">
    <div class="text-footer">
      <img src="../../../assets/logos/icon_WB.png" alt="" srcset="" />
      Ce projet respecte l’univers cinématographique des films Batman récents.
      Version Nolan & Snyder & Reeves
    </div>
    <div class="social-footer mt-3">
      <a href="" class="social-item hoveryello">
        <img
          src="../../../assets/logos/logo_sayna_white.png"
          widh="4%"
          alt=""
          srcset=""
        />
        <img
          src="../../../assets/logos/icon_x.png"
          widh="4%"
          alt=""
          srcset=""
        />
        <img
          src="../../../assets/logos/icon_DC.png"
          widh="4%"
          alt=""
          srcset=""
        />
      </a>

      <a href="" class="social-item"
        ><img src="../../../assets/logos/icon_facebook.png" alt="" srcset=""
      /></a>
      <a href="" class="social-item"
        ><img src="../../../assets/logos/icon_ig.png" alt="" srcset=""
      /></a>
      <a href="" class="social-item"
        ><img src="../../../assets/logos/icon_tw.png" alt="" srcset=""
      /></a>
    </div>
  </div>
</footer>
