// Definiton des polices
@font-face {
  font-family: "rajdhani";
  src: url(../src/assets/police/Rajdhani-Regular.ttf);
}

@font-face {
  font-family: "Space-grotesk";
  src: url(../src/assets/police/SpaceGrotesk-variable.ttf);
}
/* Vous pouvez ajouter des styles globaux à ce fichier, et également importer d'autres fichiers de style. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "rajdhani" !important;
  background-color: black !important;
  color: white !important;
}
button {
  color: beige;
  border: none;
  background: linear-gradient(
    133deg,
    rgba(168, 168, 172, 1) 0%,
    rgba(176, 33, 21, 1) 100%
  );
}
